@font-face{
    font-family: Myfont;
    src: url(../fonts/Italianno-Regular.ttf);
}
.about-us{
    margin-top: -160px;
    margin-bottom: 300px;
}
.about-main-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-main-page img{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
    width: 400px;
    height: 400px;
    padding: 30px 20px; 
    text-align: center;
    opacity: 1;
    margin-right: 10px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}
.about-description{
    width: 420px;
    height: 400px;
    background: rgba(0,0,0,0.05);
    padding: 20px;
    text-align: start;
    color: orange;
    font-family: Myfont;
    font-size: 27px;
}

/* contact us page */



  
  .log2{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
    background: #ffffff;
    align-items: center;
    justify-content: center;
    width: 400px;
    opacity: 0.7;
    position: relative;
  }
  .log2 input[type="text"],.log2 input[type="email"]{
    border: 0;
    background: none;
    display: black;
    margin:20px auto;
    text-align: center;
    border: 2px solid orange ;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 60px;
    transition: 0.25s;
    
  }
  textarea{
    border: 0;
    background: none;
    display: black;
    margin:20px auto;
    text-align: center;
    border: 2px solid orange ;
    padding: 14px 10px;
    outline: none;
    color: orange;
    border-radius: 10px;
    transition: 0.25s;
  }
  .log2 h1{
    color: orange;
    text-transform:uppercase;
    font-weight: 500;
  }
  .log2 input[type="text"]:focus,.log2 input[type="email"]:focus{
    width: 280px;
    border-color: orange;
  }
  
  .log2 button{
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid orange;
      padding: 14px 40px;
      outline: none;
      color: black;
      border-radius: 24px;
      transition:24px;
      transition :0.25s;
      cursor: pointer;
      text-decoration: none;
  }
  .log2 button:hover{
    background: orange; 
  }


  .contact{
      display: flex;
      margin-top: -190px;
      justify-content: center;
      align-items: center;
      margin-bottom: 300px;
  }
  .login-area2{
    display: flex;
    flex-direction: row;
    }
  .contact-us{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .contact-info{
    background: #d6d6d6;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.9;
    color: orange;
    font-family: Myfont;
    font-size: 30px;
    padding: 40px;
  }
  .login-page{

  }
  
  
@media(max-width:900px){
    .contact-us{
        flex-direction: column;
    }
    .about-main-page{
        flex-direction: column;
    }
}